# Игнорируем файлы конфигурации, содержащие секреты и пароли
.env

# Игнорируем директории node_modules и пакеты для npm или yarn
node_modules/

# Игнорируем файлы, сгенерированные npm или yarn
package-lock.json
yarn.lock

# Игнорируем директории и файлы, созданные при сборке проекта
dist/
build/

# Игнорируем IDE и редакторы (например, VSCode, WebStorm, и т.д.)
.vscode/
.idea/

# Логи
*.log
logs/

# Игнорируем файлы операционной системы
.DS_Store
Thumbs.db

# Прочие временные файлы
*.tmp
*.swp

# Игнорируем файлы, связанные с Docker (если используются)
docker-compose.override.yml
Dockerfile*
